body{
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
}
.header{
  display: flex;
  background-repeat: round;
  width: 100%;
  height: 150px;
}
.nav a{
  font-size: 15px;
  color: black;
  margin: 0 5px;
  padding-top: 15px;
  text-decoration: none;
}
.nav{
  margin-right: none;
  background:rgba(255,255,255, 0.3);
  width: 3000px;
  height: 30%;
  display: flex;
  flex-direction: row-reverse;
  margin-top: 40px;
  margin-bottom: 30px;
}
.iconos{
  padding-right: 10px;
  display: flex;
  position: absolute;
  top: 90px;
  flex-direction: row-reverse;
}
.iconos i{
  margin: 2px;
}
.principal{
  margin-left: 4px;
}
.principal iframe{
  margin-left: 0px;
  width: 100%
}
h1{
  font-size: 60px;
  padding-top: 20px;
}
h3{
  padding-top: 25px;
  font-weight: lighter;
  color: #11ad9b;
}
a{
  text-decoration: none;
  color: black;
  font-weight: lighter;
}
p{
  font-weight:
}
